{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h3>La Huerta Grow, auténticos especialistas y amantes del cannabis

    La Huerta Grow Shop es una tienda física y online especializada en cannabis, con sede en L’Hospitalet de Llobregat, Barcelona.
    
    Llevamos desde el 2001 creciendo con vosotros, descubriendo todos los secretos que esconde nuestra querida planta y compartiéndolos como mejor sabemos.
    
    En nuestra tienda encontrarás todo tipo de artículos para el cultivo de cannabis y cultivo en interior, además de los mejores bancos de semillas, marcas de fertilizantes, sustratos, productos para el control de plagas, y la mejor parafernalia cannábica para disfrutar al máximo de tus momentos especiales.
    
    Pero en La Huerta Grow Shop no sólo somos comerciantes, también somos unos apasionados del cannabis con más de 43 años de experiencia en cultivo.
    
    Nuestra ética personal va por delante de nuestro interés comercial, por lo que nunca te aconsejaremos que compres algo que no necesites.
    
    Somos La Huerta Grow Shop original, con la que incontables cannabicultores llevan más de 20 años cultivando. Tenemos una única sede, no tenemos franquicias, ¡Huye de imitaciones!
    
    La Huerta Grow Shop Barcelona</h3>