{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}


<h2>Buscador</h2>
<hr>
</hr>

<form action="/search" method="GET">
    <div>
        <input type="text" name="search_param" id="course_code_or_name" placeholder="Buscar.."
        {% if search_param %} value="{{ search_param }}" {% endif %}
        >
        <input type="submit" value="Buscar">
        <a style="color: blue" href="{% url 'home:main' %}"><i class="fa fa-undo"></i></a>
    </div>

</form>

<hr>
</hr>


{% endblock %}