{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}


<h1>
    Términos y condiciones
    Condiciones Generales de Uso y de la Contratación
    
    1. TITULARIDAD
    
    En cumplimiento de lo previsto en el artículo 10 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, a continuación se ofrece la información general del Sitio Web:
    
    La Huerta Grow Shop
    
    Distribuciones Marianas 08 S.L.
    
    Cif: B64740384
    
    Travessera de les Corts 48
    
    Barcelona , L´Hospitalet de Llobregat , 08903 España
    
    (0034) 93 448 48 48
    
    2. CONDICIONES DE USO
    2.1. Aceptación de las condiciones de uso y contratación.
    
    
    EL USUARIO manifiesta:
    
    Que ha leído, entiende y comprende lo aquí expuesto; que es una persona mayor de edad y con la edad legal suficiente para la compra artículos en esta web de acuerdo a la legislación del país de su residencia y con capacidad suficiente para contratar; que asume todas las obligaciones aquí dispuestas.
    
    Dado que los contenidos y servicios del SITIO WEB (en adelante LAHUERTAGROWSHOP) versan además de sobre productos de jardinería y sobre productos relacionados con el mundo cannabico, el acceso al mismo sólo está permitido a los mayores de edad de acuerdo con lo previsto en la normativa de su estado de residencia. Por favor, si eres menor abandona la web de LAHUERTAGROWSHOP.
    2.2. Registro.
    
    
    Los datos introducidos por el USUARIO deberán ser exactos, actuales y veraces en todo momento. El USUARIO registrado será responsable en todo momento de la custodia de su password, asumiendo en consecuencia cualesquiera daños y perjuicios que pudieran derivarse de su uso indebido, así como de la cesión, revelación o extravío del mismo. A estos efectos, el acceso a áreas restringidas y/o el uso de los servicios y contenidos realizado bajo el password de un USUARIO registrado se reputarán realizados por dicho USUARIO registrado, quien responderá en todo caso de dicho acceso y uso.
    2.3. Normas de Uso.
    
    
    El Usuario se obliga a utilizar el Sitio Web y todo su contenido y servicios conforme a lo establecido en la ley, la moral, el orden público y en las presentes Condiciones Generales de contratación.
    
    Asimismo, se obliga a hacer un uso adecuado de los servicios y/o contenidos del SITIO WEB y a no emplearlos para realizar actividades ilícitas o constitutivas de delito, que atenten contra los derechos de terceros y/o que infrinjan la regulación sobre propiedad intelectual e industrial, o cualesquiera otras normas del ordenamiento jurídico aplicable.
    
    El USUARIO se obliga a no transmitir, introducir, difundir y poner a disposición de terceros, cualquier tipo de material e información tales como datos, contenidos, mensajes, dibujos, archivos de sonido e imagen, fotografías o software que sean contrarios a la ley, la moral, el orden público y las presentes Condiciones Generales. A título enunciativo, y en ningún caso limitativo o excluyente, el Usuario se compromete a:
    
        No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología del terrorismo o que atenten contra los derechos humanos o cualquiera que fomente el consumo no responsable de acohol.
        No introducir o difundir en la red programas de datos (virus y software nocivo) susceptibles de provocar daños en los sistemas informáticos del proveedor de acceso, sus proveedores o terceros Usuarios de la red Internet.
        No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que atente contra los derechos fundamentales y las libertades públicas reconocidos constitucionalmente y en los tratados internacionales.
        No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que constituya publicidad ilícita o desleal.
        No introducir o difundir cualquier información y contenidos falsos, ambiguos o inexactos de forma que induzca a error a los receptores de la información.
        No suplantar a otros Usuarios utilizando sus claves de registro a los distintos servicios y/o contenidos del Sitio Web.
        No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que suponga una violación de los derechos de propiedad intelectual e industrial, patentes, marcas o copyright que correspondan a los titulares del Sitio Web LAHUERTAGROWSHOP o a terceros.
        No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que suponga una violación del secreto de las comunicaciones y la legislación sobre protección de datos.
    
    El Usuario se obliga a mantener indemne a LAHUERTAGROWSHOP ante cualquier posible reclamación, multa, pena o sanción que pueda venir obligada a soportar como consecuencia del incumplimiento por parte del Usuario de cualquiera de las normas de utilización antes indicadas, reservándose además LAHUERTAGROWSHOP el derecho a solicitar la indemnización por daños y perjuicios que corresponda.
    2.4. Exclusión de responsabilidad.
    
    
    El contenido de LAHUERTAGROWSHOP ha sido eleborado de buena fe, con información de elaboración propia y ajena, obtenida de forma legal. Con todo, LAHUERTAGROWSHOP no puede garantizar al 100% la veracidad y fiabilidad de los contenidos.
    
    La web de LAHUERTAGROWSHOP no acepta responsabilidades por daños y perjuicios de ningún tipo derivados de la utilización de los contenidos, servicios y productos por parte de los usuarios/as.
    
    El acceso del USUARIO al SITIO WEB no implica para LAHUERTAGROWSHOP la obligación de controlar la ausencia de virus, gusanos o cualquier otro elemento informático dañino. Corresponde al USUARIO, en todo caso, la disponibilidad de herramientas adecuadas para la detección y desinfección de programas informáticos dañinos.
    
    LAHUERTAGROWSHOP no se responsabiliza de los daños o perjuicios de cualquier tipo producidos en el USUARIO que traigan causa de fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del servicio del SITIO WEB durante la prestación del mismo o con carácter previo.
    
    LAHUERTAGROWSHOP no conoce los contenidos y servicios de los Sitios Enlazados y, por tanto, no se hace responsable por los daños producidos por la ilicitud, calidad, desactualización, indisponibilidad, error e inutilidad de los contenidos y/o servicios de los Sitios Enlazados, ni por cualquier otro daño que no sea directamente imputable a LAHUERTAGROWSHOP.
    
    3. PROPIEDAD INTELECTUAL
    
    Todos los contenidos del Sitio Web: textos, fotografías, gráficos, imágenes, iconos, tecnología, software, links y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente, son propiedad intelectual de LAHUERTAGROWSHOP o de terceros, sin que puedan entenderse cedidos al USUARIO ninguno de los derechos de explotación reconocidos por la normativa vigente en materia de propiedad intelectual sobre los mismos.
    
    Las marcas, nombres comerciales y signos distintivos son titularidad de LAHUERTAGROWSHOP o terceros, sin que pueda entenderse que el acceso al Sitio Web atribuye algún derecho sobre los mismos.
    
    Por medio de la aceptación de estas Condiciones Generales, el Usuario cede a LAHUERTAGROWSHOP, gratuitamente y en exclusiva, todos los derechos de explotación sobre los artículos, comentarios y opiniones (en adelante, “los Contenidos”) que el Usuario publique o cuya publicación autorice en el Sitio Web. Dicha cesión se entenderá realizada para el ámbito territorial mundial, sin limitación alguna, y por el máximo periodo de duración previsto en el Real Decreto Legislativo 1/1996, de 12 de abril, por el que se aprueba el Texto Refundido de la Ley de Propiedad Intelectual, regularizando, aclarando y armonizando las disposiciones legales vigentes sobre la materia. LAHUERTAGROWSHOP podrá explotar los derechos de reproducción, transformación, distribución y comunicación pública los Contenidos, en el sentido más amplio reconocido por dicha Ley.
    
    El Usuario, que afirma disponer de todos los derechos de propiedad intelectual sobre los artículos, comentarios y opiniones antes citados, se obliga a asumir toda reclamación o responsabilidad, incluyendo indemnizaciones por daños y perjuicios, que cualquier tercero pueda ejercitar contra LAHUERTAGROWSHOP por considerar infringidos sus derechos por cualquiera de las acciones derivadas de las obligaciones que el Usuario contrae directa o indirectamente con estas Condiciones Generales.
    
    Asimismo, el Usuario se obliga a mantener indemne a LAHUERTAGROWSHOP ante cualquier perjuicio que él o un tercero puedan sufrir como consecuencia de la formalización de la cesión de derechos regulada en esta cláusula.
    
    4. CONDICIONES DE CONTRATACIÓN
    
    LAHUERTAGROWSHOP se reserva el derecho a utilizar medios de pago electrónicos de terceros y/o instituciones financieras para gestionar los pagos hechos por los USUARIOS a través del SITIO WEB, en colaboración con los proveedores de medios de pago.
    
    LAHUERTAGROWSHOP no tiene acceso a los datos bancarios vinculados a los medios de pago de los USUARIOS y no conoce ni registra estos datos durante la operación de pago.
    
    LAHUERTAGROWSHOP se reserva el derecho a rechazar o cancelar, previa comunicación al USUARIO, bajo su total discreción aquellos pedidos en los cuales pudieran encontrarse (i) inexactitudes o errores notorios en el producto, (ii) inexactitudes o errores manifiestos en la fijación de precios a través del SITIO o (iii) alguna sospecha de fraude o de haberse aportado datos significativos falsos, incompletos o inexactos por parte de los USUARIOS.
    
    LAHUERTAGROWSHOP se reserva el derecho de solicitar una copia por fax o email de la tarjeta utilizada en la compra y documento de identidad, extracto bancario, documento nacional de identidad, pasaporte o documentación equivalente DNI del Usuario para confirmar la veracidad de los datos aportados.
    
    Para proceder al pago mediante transferencia bancaria, el USUARIO deberá realizar una transferencia con los detalles que aparecerán en el correo de confirmación de pedido. En él se indicará el número de cuenta al que debe hacer la transferencia, el importe y la referencia que debe anexar para agilizar el proceso de aceptación definitiva de su pedido. El pedido se tramitará una vez recibido el importe íntegro del mismo y el plazo de días de entrega comunicado al USUARIO empezará a contar desde la recepción en cuenta del importe íntegro. El pedido realizado mediante transferencia bancaria tiene una validez de 7 días. Cualquier pago realizado después de ese plazo puede estar sujeto a cambios de disponibilidad de producto o precios.
    
    5. GASTOS DE ENVÍO Y ENTREGA
    
    Los gastos de envío de los pedidos del USUARIO serán asumidos por éste, salvo que se indique expresamente lo contrario.
    
    LAHUERTAGROWSHOP, en su caso, el VENDEDOR indicará el precio de los gastos de envío en el proceso de pedido; estos gastos deberán ser aprobados por el USUARIO con anterioridad a la aceptación del pedido, salvo que se incluyan en el precio. LAHUERTAGROWSHOP indicará al USUARIO de manera previa en el proceso de compra cualquier gasto adicional que se incurra en el proceso de contratación.
    
    LAHUERTAGROWSHOP informará al CLIENTE de los plazos de entrega estimados del pedido en el proceso de compra. Los plazos de entrega indicados en el pedido son solamente una estimación y se refieren a días laborables. LAHUERTAGROWSHOP no se hace responsable de retrasos adicionales al plazo de entrega estimado.
    
    La entrega de los pedidos se realizará en el domicilio de entrega designado libremente por el USUARIO en el formulario de pedido , siempre y cuando el domicilio conste incluido en las áreas de reparto incluidas en la Plataforma.
    
    Las entregas se realizan en días laborables (de Lunes a Viernes) y en horario comercial (De 9h a 19h) . Lamentablemente no se ofrecen entregas en fines de semana o fuera de horario comercial y en fines de semana o festivos independientemente de que el USUARIO solicite estas opciones en su pedido o en cualquier comunicación al equipo de LAHUERTAGROWSHOP .
    
    6. DEVOLUCIÓN
    
    Atención: Una vez recibido el envío compruebe su contenido de inmediato, si el envío se muestra dañado externamente informe en el justificante de mensajería.
    Sí el envío le llegara dañado dispone de 24 horas para ejercer su reclamación por escrito. Tras ese plazo no se atenderá ninguna reclamación por daño en el producto.
    
    Los pedidos se pueden cancelar sin coste alguno hasta el momento en que el envío se ha preparado para su envío al USUARIO. Si la petición de cancelación del usuario llega después de que el pedido haya sido preparado, la petición de cancelación se considerará una devolución por parte del USUARIO.
    
    El USUARIO podrá desistir libremente del contrato de compraventa, sin indicación de los motivos, dentro del plazo de catorce (14) días naturales siguientes a la fecha de recepción del producto. La fecha del resguardo acreditativo de la entrega del producto servirá a efectos de inicio del cómputo del plazo de catorce (14) días citado.
    
    Para ejercer su derecho de desistimiento, el USUARIO deberá comunicarlo a la dirección de correo electrónico info@lahuertagrowshop.com, indicando a efectos de identificación y gestión el e-mail utilizado para la compra y el número de pedido. LAHUERTAGROWSHOP contestará al USUARIO especificando las instrucciones precisas para el ejercicio del derecho de desistimiento.
    
    El USUARIO correrá con los gastos y el resto de gestiones asociadas a la devolución del producto, que deberá ser empaquetado y enviado de forma segura, para que la mercancía devuelta llegue en perfecto estado de conservación. El USUARIO será responsable de cualquier desperfecto, daño o perjuicio sufrido por el producto en este proceso.
    
    LAHUERTAGROWSHOP, en el caso del desestimiento del pedido, efectuará el reembolso del total del pedido restando los gastos de recogida que habitualmente gestionará la misma empresa transporte que haya realizado la entrega.
    
    LAHUERTAGROWSHOP solo admitirá la devolución del producto cuando el uso del mismo se haya limitado a la mera comprobación del buen funcionamiento del citado producto por parte del USUARIO, de acuerdo a la legislación vigente.
    
    LAHUERTAGROWSHOP no admitirá la devolución de ningún producto que sufra deterioros atribuidos al CLIENTE.
    
    La devolución del producto deberá realizarse en su embalaje de origen y en perfecto estado, es decir, no dañado o ensuciado por el CLIENTE, y será enviado al lugar indicado por LAHUERTAGROWSHOP en las instrucciones remitidas al CLIENTE. Asimismo, el embalaje deberá identificarse de manera completa e integra a fin de conocer quién es el remitente. En caso de no enviarse en las condiciones que se describen en los presentes términos el bien sufrirá una depreciación que en todo caso deberá abonar el CLIENTE.
    
    No cabe el desistimiento en los supuestos contemplados en el artículo 103 del Real Decreto legislativo 1/2007 de 16 de noviembre, por el que se aprueba el Texto Refundido de la Ley General para la Defensa de Consumidores y Usuarios.
    
    5.6.10. En caso de error en el envío o de algún defecto del producto, la LAHUERTAGROWSHOP se compromete a cambiar el producto defectuoso por otro igual siempre que haya disponibilidad del mismo. En el supuesto de que no se pudiera hacer el cambio se reintegrará el importe de dicho producto en un plazo de 14 días naturales. Para hacer efectiva una devolución póngase en contacto con nosotros en el teléfono (+34) 93 448 48 48 o en el correo electrónico info@lahuertagrowshop.com
    
    Para pedidos internacionales, en caso de negativa por parte del cliente a pagar los gastos al llegar su pedido a la aduana (tramitación y tasas), una vez recibido en nuestras instalaciones el paquete retornado, se devolverá al cliente el importe de su pedido, descontando los gastos de transporte y gestión (mínimo 9 euros).
    
    7. LEGISLACION Y JURISDICCION APLICABLE.
    
    Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de España.
    
    LAHUERTAGROWSHOP, y el usuario/a, con renuncia expresa a cualquier otro fuero se someten a la jurisdicción y competencia de los juzgados y tribunales de l'Hospitalet de Llobregat para cualquier controversia que pueda derivarse de la prestación de los servicios objeto de estas condiciones generales y las condiciones particulares definidas en este sitio web.
    
    8. CONDICIONES DE LA VENTA DE SEMILLAS DE CANNABIS
    
    La Convención Única de 1961 sobre Estupefacientes, enmendada por el Protocolo de 1972, ratificada por el Estado español, prevé la fiscalización de las sumidades, floridas o con fruto, de la planta de cannabis, así como la resina obtenida de la planta de cannabis, pero excluye expresamente las semillas.
    
    Es deber de los usuarios de esta web conocer y respetar las leyes de su pais con respecto a la compra y uso de las semillas de cannabis. LAHUERTAGROWSHOP no pretende alentar ni fomentar un uso indebido o fuera de la ley de las semillas que comercializa. Es por ello responsabilidad del usuario hacer un uso responsable de los productos que compre en esta web.
    
    LAHUERTAGROWSHOP declina cualquier responsablidad sobre actos de los usarioss de esta web que pudieran ser constitutivos de delito.
    
    9. POLÍTICA DE PRIVACIDAD
    
    podrá leer nuestra política de privacidad haciendo click en este enlace
    AVISO LEGAL
    
    Este comerciante se compromete a no permitir ninguna transacción que sea ilegal, o se considere por las marcas de tarjetas de crédito o el banco adquiriente, que pueda o tenga el potencial de dañar la buena voluntad de los mismos o influir de manera negativa en ellos. Las siguientes actividades están prohibidas en virtud de los programas de las marcas de tarjetas: la venta u oferta de un producto o servicio que no sea de plena conformidad con todas las leyes aplicables al Comprador, Banco Emisor, Comerciante, Titular de la tarjeta, o tarjetas: vender semillas de cannabis fuera de España
    </h1>

    {% endblock %}