{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2>Seeds</h2>
{% if user.is_authenticated %}
<a class="card_custom" href="{% url 'seeds:seeds-add' %}">Crear Seeds</a>
{% endif %}
<hr></hr>
<ul>
    {% for seeds in seeds_list %}
    <li>
        {{seeds}}
        (
            <a href="{% url 'seeds:seeds-detail' seeds.id %}">
                <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
            </a>
        {% if user.is_authenticated %}
        |
        <a href="{% url 'seeds:seeds-update' seeds.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
        </a>
        |
        <a href="{% url 'seeds:seeds-delete' seeds.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> </i>
        </a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}